<!DOCTYPE html>
<html lang="no" ng-app="grouse-app">
<head>
    <title>KDRS-Grouse Noark 5 kravspec</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="../angular-1.6.4/angular.min.js"></script>
    <script src="../common.js"></script>
    <script src="requirements.js"></script>
</head>
<body ng-controller="RequirementsController">

<h2>Liste av alle krav</h2>
<p>Listen av alle krav er nedenfor. Dobbelklikk på et krav for å redigere kravet</p>
<span class="col-md-11">
<table class="table table-striped">
    <thead>
    <tr>
        <th>Krav nummer</th>
        <th>Krav beskrivelse</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="requirement in requirements" ng-click="selectRequirement(requirement)">
    <td class="col-md-2">
        {{ requirement.requirementNumber }}
    </td>
    <td class="col-md-8">
        {{ requirement.requirementText.substring(0, 200) }}
    </td>
    </tr>
    </tbody>
</table>
</span>
</body>
</html>
