<!DOCTYPE html>
<html lang="no" ng-app="grouse-app">
<head>
  <title>KDRS-Grouse Noark 5 kravspec</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- css resources -->
  <link href="dependencies/vendor/font-awesome/css/font-awesome.css"
        rel="stylesheet" type="text/css">

  <link href="dependencies/vendor/metisMenu/metisMenu.css"
        rel="stylesheet" type="text/css">

  <link href="dependencies/vendor/META-INF/resources/webjars/bootstrap/3.3.7-1/css/bootstrap.css"
        rel="stylesheet" type="text/css">
  <link href="dependencies/vendor/META-INF/resources/webjars/metisMenu/2.7.0/metisMenu.css"
        rel="stylesheet" type="text/css">

  <!-- js resources -->
  <script src="dependencies/vendor/META-INF/resources/webjars/angularjs/1.6.6/angular.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/jquery/3.2.1/jquery.js"></script>
  <script src="dependencies/vendor/META-INF/resources/webjars/bootstrap/3.3.7-1/js/bootstrap.js"></script>

  <!-- internal js resources-->
  <script src="common.js"></script>
  <script src="kravspec.js"></script>

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body ng-controller="RequirementsController">

<nav class="navbar navbar-default navbar-static-top" role="navigation"
     style="margin-bottom: 0">

  <div class="navbar-header">
    <a class="navbar-brand" href="#">KDRS Kravspec verktøy</a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Prosjekter</a></li>
      <li ng-show="false"><a href="#">Profile</a></li>
    </ul>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"
             data-toggle="dropdown">
            {{user.firstname}} {{user.lastname}}
            <span class="glyphicon glyphicon-user pull-right"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Innstillinger<span class="glyphicon glyphicon-cog pull-right"></span></a></li>
            <li class="divider"></li>
            <li><a href="#">Logg ut<span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-lg-12">
  <div ng-show="projectsView" class="panel panel-default">
    <div class="panel-heading">
      <div class="btn-group pull-right">
        <button data-toggle="modal" data-target="#newProjectModal"
                class="btn btn-primary btn-sm">Nytt prosjekt
        </button>
      </div>

      <!--modal-->
      <div id="newProjectModal" class="modal fade" tabindex="-1"
           role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h4>Opprett nytt prosjekt</h4>
            </div>
            <div class="modal-body">

              <form role="form">
                <fieldset>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-6">
                        <input type="text" name="projectName" value="" ng-model="projectName"
                               class="form-control" placeholder="Prosjektnavn"/>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" name="organisationName" value="" ng-model="organisationName"
                               class="form-control" placeholder="Organisasjonsnavn"/>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" ng-click="createProject()"
                      class="btn btn-primary pull-right">Opprett prosjekt
              </button>
            </div>
          </div>
        </div>
      </div>
      <h4>Prosjekter</h4>
    </div>
    <div class="container">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Prosjektnavn</th>
          <th>Organisasjon</th>
          <th>Dato opprettet</th>
          <th>Dato endret</th>
        </tr>
        </thead>
        <tbody ng-repeat="project in projects">
        <tr ng-click="projectSelected(project)">
          <td>
            {{project.projectName}}
          </td>
          <td>
            {{project.organisationName}}
          </td>
          <td>
            {{project.createdDate | date:'yyyy-MM-dd'}}
          </td>
          <td>
            {{project.changedDate | date:'yyyy-MM-dd'}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="panel-footer">
    </div>
  </div>

  <div ng-show="requirementsView" class="panel panel-default">
    <div class="panel-heading">
      <h4>{{selectedProject.projectName}}</h4>
    </div>
    <div class="panel-body">
      <div class="col-lg-12">
        <div class="progress">
          <div class="progress-bar progress-bar-success"
               role="progressbar" aria-valuenow="{{progressBarValue}}" aria-valuemin="0"
               aria-valuemax="100" ng-style="{width : ( progressBarValue + '%' ) }">
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                Funksjonelle krav </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse">
            <div class="list-group">
              <div class="list-group" ng-repeat="menuItem in menuItems">
                <div ng-click="menuItem_selected(menuItem)">
                  <a href="#"
                     ng-class="menuItem.showMe ? 'list-group-item' : 'list-group-item-success'">
                    {{menuItem.title}}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>  <!--  <div class="panel panel-default"> -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                Tekniske krav </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse">
            <div class="list-group">
              <div class="list-group" ng-repeat="menuItem in menuItems">
                <a href="#" class="list-group-item">
                  {{menuItem.title}}
                </a>
              </div>
            </div>
          </div>
        </div>  <!--  <div class="panel panel-default"> -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                Krav til integrasjoner</a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse">
            <div class="list-group">
              <div class="list-group" ng-repeat="menuItem in menuItems">
                <a href="#" class="list-group-item" id="{{menuItem.functionalityNumber}}"
                   ng-click="menuItem_selected(menuItem)">{{menuItem.title}}
                </a>
              </div>
            </div>
          </div>
        </div> <!--  <div class="panel panel-default"> -->
      </div> <!-- <div class="col-sm-3"> -->
      <div class="col-sm-9">
        <div class="form-check">
          <div class="bs-callout bs-callout-default">
            <h4> Beskrivelse </h4>
            <textarea class="form-control" rows="5"
                      id="functionality_description_12">{{selectedMenuItem.title}}</textarea>
          </div>
          <div class="bs-callout bs-callout-primary">
            <h4>Forklaring</h4>
            <textarea class="form-control" rows="5"
                      id="functionality_explanation_12">{{selectedMenuItem.description}}</textarea>
          </div>
          <div class="bs-callout bs-callout-success">
            <h4>Konsekvens</h4>
            <textarea class="form-control" rows="5"
                      id="functionality_consequence_12">{{selectedMenuItem.explanation}}</textarea>
          </div>
          <div class="container">

            <div class="center">
              <button data-toggle="modal" data-target="#requirementsModal"
                      class="btn btn-primary center-block">Vis krav
              </button>
              <button data-toggle="modal" ng-click="continueSelected()"
                      class="btn btn-primary center-block">Aksepter krav
              </button>
            </div>

            <!--modal-->
            <div id="requirementsModal" class="modal fade" tabindex="-1"
                 role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4>{{selectedMenuItem.title}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-7">Krav</div>
                      <div class="col-md-2">Prioritet</div>
                      <div class="col-md-1">Slett</div>
                    </div>
                    <div class="row" ng-repeat="requirement in selectedMenuItem.referenceProjectRequirement">
                      <div class="col-md-8">
                        <textarea class="form-control" rows="2"
                                  ng-model="requirement.requirementText"
                                  ng-blur="updateRequirementText(requirement)"
                                  id="requirement.id"></textarea>
                      </div>
                      <div class="col-md-1">
                        <div class="dropdown">
                          <select ng-model="requirement.priority"
                                  ng-options="priorityValue for priorityValue in priorityValues"
                                  ng-change="updateRequirementPriority(requirement)">
                          </select>
                        </div>
                      </div>
                      <div class="col-md-1">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" ng-change="" ng-model="requirement.delete">
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="modal-body">
                      <button type="button" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Legg til krav
                      </button>
                      <button type="button" class="btn btn-default btn-sm pull-right">
                        <span class="glyphicon glyphicon-plus"></span> Slett merket krav
                      </button>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Lukk</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- <div class="panel-body"> -->
</div>
</div>

</body>
</html>
